* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100vw;
  height: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pokedex-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#pokedex-inner-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start;
  align-content: center; */
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.pokemon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  padding: 20px 0 20px 0;
  width: 300px;
}

.pokemon-div > div > h2 {
  text-align: center;
  text-transform: capitalize;
}
